body{
    background-color: #467e99;
    
}
    header{
    text-align: center;
    font-size: 50px;
    color: #e6df29;
    background-color: #99222e;
    border: 3px solid #32aae6;
    text-shadow: 3px 3px  black;
    padding-top: 40px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
    

h1, h2 {
    font-family: 'League Gothic', sans-serif;
    text-align: center;

    text-shadow: 2px 2px  black;
}

h3, h5, h6{
    font-family: 'League Gothic', sans-serif;
    text-align: left;
    font-size: x-large;
    font-style: italic;
    padding-left: 20px;
    text-shadow: 2px 2px  black;
}



p{
    font-family: 'Smooch Sans', sans-serif;
  
}

/*hero section*/

#hero{
    background-color: #99222e;
    color: #e6df29 ;
    font-size:50px;
    text-align: center;
    text-shadow: 2px 2px  black;
    padding-top: 50px;
    border: 3px solid #32aae6;
    margin-right: 200px;
    margin-left: 200px;
    padding-left: 40px;
    padding-right: 40px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#hero img{
        width: 300px;

}

/*bio section*/


#bio{
    color: #e6df29 ;
    text-align: center;
    background-color: #99222e;
    border: 2px solid #e64959;
    margin-left: 100px;
    margin-right: 100px;
    
    padding-bottom: 50px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}



ol{font-family: 'Smooch Sans', sans-serif;
    list-style-position:inside ;
    text-align: left;
   
}


/*hobby section*/

#hobbies{

    color: #e6df29 ;
    text-align: center;
    background-color: #99222e;
    border: 2px solid #e64959;
    margin-left: 100px;
    margin-right: 100px;
    
   


    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  
    
    
}


ul{font-family: 'Smooch Sans', sans-serif;
    list-style-position: inside ;
    text-align: left;
  
}






/*gallery section*/

#photoGallery{
    border: solid #32aae6 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #99222e;
    font-family:'Smooch Sans', sans-serif; 
    font-variant: small-caps;
    font-size: large;
    color:#e6df29;
    padding-left: 20px;
    padding-right:20px;
    margin-left: 300px;
    margin-right:300px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


#photoGallery img{
max-width: 100%;
margin-top:50px;
margin-bottom: 20px;

}


#photoGallery figure{
text-align: center;

}


/*lit*/

#lit {

    font-family:'Smooch Sans', sans-serif; 
    color: #e6df29;
   
    background-color: #99222e;
    border: 2px solid #e64959;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}



/*contact form*/

#formElements   {

    display:grid;
    row-gap: 0.5em;
}
#contact {

    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

#fieldset {
    
    color: #e6df29;
    border:2px solid #32aae6;
}





/*footer*/

footer{
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    font-size: small;
    background-color: #99222e;
    margin-right:5 ;
    margin-left:5 ;
    color: #e6df29 ;
    border: 3px solid #32aae6;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}



/*adding tablet media querry*/

@media screen and (min-width: 60em) {
    


    #photoGallery img {

        
        display: grid;
        grid-template-columns: 2f 1fr auto ;
        grid-template-areas: 

            "header         header"
            "hero           hero"
            "hobbies        bio"
            "fig1           figcap1"
            "fig2           figcap2"
            "fig3           figcap3"
            "lit            lit"
            "contactform   contactform"
            "footer         footer"
            ;

}

    #header {
        grid-area: header;

    }
    #hero {
        grid-area: hero;
    }
    #hobbies {
        grid-area: hobbies;

    }

    #bio {

        grid-area:bio;
    }

    #fig1{

        grid-area: fig1;
       
    }

    #fig1cap{

        grid-area: figcap1;

    }

    #fig2{
        grid-area: fig2;
       
    }

    #fig2cap{

        grid-area: figcap2;
    }

    #fig3{
        grid-area:fig3;
       
    }
    #fig3cap{
        grid-area: figcap3;
    }

     #lit {
         grid-area: lit;

     }   

     #contact {

        grid-area: contactform;
     }

     #footer {
         grid-area: footer;
     }



     
@media screen and (min-width: 1200px ) {

    main{

        margin: auto;
        max-width: 1200px;
    }


}



}