body  {
    background-color:lightblue;
    font-family: 'Playfair Display', serif;
text-align: center;

#biosection 

h1, h2, h3, h4, h5 {
    text-align: center;
}

p {
    text-align: center;
}

ul { 
    text-align: center;
    margin: auto;
    font-size:;
}

    
 header { 
    background-color: darkblue;
   text-align: center;
} 




#hero section {
font-size: 1 rem;
border: orange;

  }


  

main { 
   
  
    
}











