body{
    background-color: #467e99;
    
}
    header{
    text-align: center;
    font-size: 50px;
    color: #e6df29;
    background-color: #99222e;
    border: 3px solid #32aae6;
    text-shadow: 3px 3px  black;
    padding-top: 40px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
    

h1, h2 {
    font-family: 'League Gothic', sans-serif;
    text-align: center;

    text-shadow: 2px 2px  black;
}

h3, h5, h6{
    font-family: 'League Gothic', sans-serif;
    text-align: left;
    font-size: x-large;
    font-style: italic;
    padding-left: 20px;
    text-shadow: 2px 2px  black;
}



p{
    font-family: 'Smooch Sans', sans-serif;
  
}

/*hero section*/

#hero{
    background-color: #99222e;
    color: #e6df29 ;
    font-size:50px;
    text-align: center;
    text-shadow: 2px 2px  black;
    padding-top: 50px;
    border: 3px solid #32aae6;
    margin-right: 200px;
    margin-left: 200px;
    padding-left: 40px;
    padding-right: 40px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

    

#hero img{
        width: 300px;

}

/*bio section*/


#bio{
    color: #e6df29 ;
    text-align: center;
    background-color: #99222e;
    margin-left: 15em;
    margin-right: 30rem;
    border: 2px solid #e64959;
    padding-left:0px ;


    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;


}



ol{font-family: 'Smooch Sans', sans-serif;
    list-style-position:inside ;
    text-align: left;
   

}






/*hobby section*/

#hobbies{

    color: #e6df29 ;
    text-align: center;
    background-color: #99222e;
    margin-left: 15em;
    margin-right: 30rem;
    border: 2px solid #e64959;
    padding-left:0px ;


    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  
    
    
}


ul{font-family: 'Smooch Sans', sans-serif;
    list-style-position: inside ;
    text-align: left;
  
}






/*gallery section*/

#photoGallery{
    border: solid #32aae6 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #99222e;
    font-family:'Smooch Sans', sans-serif; 
    font-variant: small-caps;
    font-size: large;
    color:#e6df29;
    padding-left: 20px;
    padding-right:20px;
    margin-left: 300px;
    margin-right:300px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


#photoGallery img{
max-width: 100%;
margin-top:50px;
margin-bottom: 20px;

}


#photoGallery figure{
text-align: center;

}


/*literature*/

#lit {

    font-family:'Smooch Sans', sans-serif; 
    color: #e6df29;
   
    background-color: #99222e;
    border: 2px solid #e64959;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}




/*footer*/

footer{
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    font-size: small;
    background-color: #99222e;
    margin-right:5 ;
    margin-left:5 ;
    color: #e6df29 ;
    border: 3px solid #32aae6;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}


@media screen and (max-width:1500px) {
   /* 
    #hobbies{
            display: flex;
            flex-direction: column;
            align-items: center;
*/


    }

}


/*adding tablet media querry*/

@media screen and (min-width: 60em) {
    


    #photoGallery {

        
        display: grid;
        grid-template-columns: 2f 1fr ;
        grid-template-areas: 

            "fig1       fig1cap1"
            "fig2       figcap2"
            "fig3       figcap3"
            ;

        max-width: 1200px;
}

    figcaption{


        display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
    }
}

   

    #fig1{

        grid-area: photo1;
        max-width: 200px ;
    }

    #fig1cap{

        grid-area: caption1;

    }

    #fig2{
        grid-area: photo2;
        max-width: 200px ;
    }

    #fig2cap{

        grid-area: caption2;
    }

    #fig3{
        grid-area:photo3;
        max-width: 200px ;
    }
    #fig3cap{
        grid-area: caption3;
    }
}

@media screen and (min-width: 1200px ) {

    main{

        margin: auto;
        max-width: 1200px;
    }


}
